.label {
  font-family: 'JetBrains Mono', monospace;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form {
  width: 300px;
}
.field {
  margin-bottom: 30px;
  outline: none;
  height: 30px;
}
