.wrapper {
  background-color: rgb(108, 105, 105);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
}
.name {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}
.number {
  font-family: 'JetBrains Mono', monospace;
  padding: 10px;
}
.btn {
  font-family: 'JetBrains Mono', monospace;
  width: 150px;
  text-align: center;
  height: 30px;
  margin-bottom: 10px;
  border: none;
}
